<!DOCTYPE html>
<html>
<head>
     <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<title>Stock Prices</title>
<script src='http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">


       <p class="navbar-text"><strong>Enwrap IO</strong> </p> <p class="navbar-text navbar-right">Developed by <a href="#" class="navbar-link">Siva Sakthi Velan</a></p>


  </div>
</nav>
<div class="container">

   <div class="alert alert-danger" role="alert">
  Oops! You entered Wrong Stock Symbol..! <span>Don't Worry.. ! You can refer this <a href="https://www.quandl.com/data/WIKI" class="alert-link">Link</a> for get symbol..</span>
</div>
 </div>
</body>
</html>